https://github.com/microsoft/recommenders/blob/main/examples/01_prepare_data/data_split.ipynb

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
transaction = pd.read_csv('book_transactions.csv', encoding='cp949')

In [3]:
id2user = dict(enumerate(transaction.회원번호.unique()))
user2id = {j:i for i, j in id2user.items()}
id2book = dict(enumerate(transaction.책제목.unique()))
book2id = {j:i for i, j in id2book.items()}
id2cat = dict(enumerate(transaction.카테고리.unique()))
cat2id = {j:i for i, j in id2cat.items()}

In [4]:
data = transaction[['회원번호', '책제목']]
data.회원번호 = data.회원번호.map(lambda x: user2id[x])
data.책제목 = data.책제목.map(lambda x: book2id[x])
data = data.drop_duplicates()

C:\Users\KwonYujin\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [5]:
data_cat = transaction.groupby('책제목')['카테고리'].unique().map(lambda x: x[0]).reset_index()

In [6]:
data_cat['책제목'] = data_cat.책제목.map(lambda x: book2id[x])
data_cat['카테고리'] = data_cat.카테고리.map(lambda x: cat2id[x])

In [7]:
data_cat = dict(data_cat.values)

In [8]:
data_cat

{49680: 2,
 59354: 6,
 35546: 10,
 34100: 4,
 6822: 13,
 16150: 15,
 60654: 18,
 61015: 9,
 54755: 17,
 53892: 0,
 27023: 20,
 4934: 5,
 59994: 0,
 63200: 20,
 63201: 20,
 63212: 20,
 52054: 20,
 35465: 20,
 54835: 22,
 54103: 13,
 60389: 20,
 60391: 20,
 60390: 20,
 57558: 20,
 3562: 5,
 32690: 7,
 14375: 4,
 15537: 4,
 25169: 5,
 37075: 9,
 3534: 10,
 61284: 10,
 3535: 10,
 56406: 10,
 3532: 10,
 3533: 10,
 3536: 10,
 65351: 4,
 11966: 4,
 32516: 9,
 45660: 4,
 40305: 4,
 47160: 4,
 21828: 4,
 53391: 10,
 37820: 15,
 63205: 15,
 65828: 16,
 48852: 14,
 55799: 14,
 51886: 18,
 21146: 18,
 22401: 4,
 14839: 9,
 63622: 20,
 16894: 15,
 20183: 15,
 20182: 15,
 42549: 20,
 3946: 1,
 20518: 10,
 31033: 23,
 19399: 20,
 25855: 16,
 5329: 14,
 61644: 9,
 1284: 0,
 47962: 0,
 20028: 0,
 971: 0,
 15871: 0,
 26366: 0,
 101: 0,
 50547: 0,
 771: 0,
 65747: 1,
 1489: 18,
 31029: 24,
 33416: 24,
 30192: 24,
 33415: 24,
 54712: 24,
 29343: 24,
 29344: 24,
 61976: 24,
 42949: 24,
 24578: 24,
 45788: 24,
 28452: 24,
 29342: 24,
 31496: 24,
 3026: 24,
 16132: 24,
 22403: 4,
 61869: 17,
 37419: 19,
 65101: 10,
 24769: 5,
 23231: 1,
 40757: 18,
 29772: 14,
 54901: 4,
 65531: 14,
 17174: 13,
 45600: 18,
 57546: 18,
 59454: 16,
 39840: 20,
 32363: 20,
 56352: 12,
 24494: 18,
 39623: 20,
 1051: 20,
 43688: 20,
 39625: 20,
 63558: 20,
 16109: 23,
 7113: 5,
 6129: 18,
 27284: 6,
 9426: 6,
 34237: 6,
 14697: 15,
 6516: 13,
 44843: 0,
 44845: 0,
 34958: 0,
 40431: 0,
 49335: 0,
 25374: 0,
 26395: 0,
 10894: 0,
 10891: 0,
 22165: 0,
 4666: 0,
 44844: 0,
 3910: 0,
 10773: 0,
 27009: 0,
 52937: 0,
 26495: 0,
 2078: 0,
 57540: 0,
 18030: 0,
 40936: 0,
 17780: 0,
 40176: 0,
 1006: 0,
 22161: 0,
 34609: 0,
 32543: 0,
 44096: 0,
 37085: 0,
 25471: 0,
 24639: 0,
 25928: 0,
 26394: 0,
 10881: 0,
 10882: 0,
 61694: 0,
 22150: 0,
 20833: 0,
 30364: 0,
 33171: 0,
 27179: 0,
 2765: 0,
 40935: 0,
 31642: 0,
 2099: 0,
 1003: 0,
 4520: 0,
 29084: 0,
 21417: 0,
 2878: 0,
 31641: 0,
 23736: 0,
 15684: 0,
 2071: 0,
 8388: 0,
 40181: 18,
 16060: 13,
 10016: 10,
 5735: 16,
 46630: 14,
 62397: 14,
 40682: 16,
 32768: 18,
 30414: 14,
 6733: 14,
 10815: 18,
 32648: 20,
 55766: 20,
 36500: 20,
 24604: 4,
 13919: 16,
 12224: 14,
 58319: 0,
 20056: 15,
 63334: 0,
 61996: 18,
 58266: 17,
 22451: 11,
 65428: 20,
 44940: 4,
 43063: 8,
 1445: 1,
 63333: 0,
 33632: 5,
 36768: 9,
 48231: 24,
 48670: 24,
 65602: 20,
 63335: 0,
 54943: 16,
 23906: 15,
 49284: 16,
 4867: 13,
 26413: 18,
 1229: 18,
 30849: 4,
 8009: 14,
 52191: 18,
 29521: 16,
 50688: 6,
 49408: 18,
 15258: 18,
 7394: 18,
 8810: 18,
 9235: 18,
 25955: 9,
 53818: 18,
 25358: 18,
 42478: 14,
 22321: 2,
 31871: 4,
 9471: 4,
 63807: 2,
 62613: 2,
 46444: 4,
 45553: 4,
 54507: 2,
 64709: 2,
 41934: 13,
 30307: 2,
 37805: 2,
 28342: 2,
 10351: 2,
 26637: 2,
 54509: 2,
 10348: 2,
 461: 2,
 2341: 2,
 6357: 2,
 50049: 2,
 23056: 2,
 30361: 2,
 47639: 2,
 27793: 2,
 34858: 2,
 10346: 2,
 29368: 2,
 20143: 2,
 58692: 17,
 41412: 4,
 53755: 4,
 24620: 4,
 24644: 10,
 6805: 18,
 15854: 18,
 23491: 18,
 12651: 10,
 19131: 7,
 62730: 24,
 62729: 24,
 65877: 24,
 62724: 24,
 50162: 4,
 11579: 4,
 2671: 4,
 20160: 20,
 45223: 20,
 61627: 4,
 24290: 18,
 9569: 18,
 29536: 18,
 45841: 20,
 32311: 20,
 36056: 12,
 59051: 2,
 18901: 18,
 22641: 18,
 33407: 18,
 20798: 11,
 24253: 14,
 29890: 20,
 14343: 14,
 49538: 10,
 49539: 10,
 33577: 15,
 10066: 10,
 10415: 10,
 34502: 2,
 22818: 4,
 28281: 1,
 11601: 11,
 59604: 20,
 4572: 9,
 60577: 15,
 14598: 4,
 57464: 8,
 52626: 17,
 10452: 20,
 41248: 13,
 38361: 13,
 44208: 13,
 41249: 13,
 44205: 13,
 44207: 13,
 32584: 20,
 20392: 17,
 20690: 10,
 46072: 12,
 14333: 12,
 32497: 0,
 32498: 0,
 32496: 0,
 4943: 16,
 2869: 0,
 39416: 0,
 27669: 0,
 20869: 0,
 20868: 0,
 22926: 0,
 4252: 0,
 772: 0,
 7644: 0,
 44328: 2,
 36859: 17,
 44269: 17,
 9911: 10,
 20705: 10,
 56089: 20,
 56090: 20,
 19656: 20,
 45989: 5,
 17471: 12,
 51185: 12,
 58553: 12,
 54503: 2,
 29369: 2,
 31796: 2,
 40572: 2,
 19170: 2,
 47740: 2,
 35724: 4,
 27182: 20,
 53997: 11,
 33738: 16,
 65533: 18,
 46134: 17,
 46655: 2,
 784: 16,
 65762: 16,
 3699: 12,
 16350: 20,
 19166: 2,
 49078: 14,
 34652: 7,
 27822: 2,
 54514: 2,
 3696: 12,
 47432: 8,
 47435: 8,
 23869: 2,
 54505: 2,
 26638: 2,
 34651: 5,
 41566: 12,
 11082: 16,
 49693: 12,
 65588: 13,
 44409: 13,
 25263: 13,
 29133: 13,
 58555: 12,
 58364: 12,
 64228: 9,
 61985: 9,
 14590: 19,
 8002: 19,
 5540: 9,
 10200: 14,
 54456: 5,
 52234: 12,
 27287: 19,
 14293: 12,
 44913: 20,
 1663: 10,
 11413: 10,
 55634: 10,
 37620: 15,
 26450: 1,
 26451: 1,
 25545: 2,
 55082: 5,
 17331: 21,
 34851: 5,
 4111: 10,
 2292: 10,
 2293: 10,
 783: 5,
 775: 5,
 22557: 3,
 28376: 3,
 36221: 3,
 36222: 3,
 15781: 3,
 34053: 3,
 56437: 15,
 22419: 4,
 43733: 4,
 19689: 20,
 11945: 16,
 13774: 16,
 33202: 4,
 38514: 14,
 5255: 2,
 3381: 14,
 31022: 14,
 32256: 20,
 36075: 4,
 53528: 18,
 53529: 18,
 26129: 0,
 10611: 0,
 55550: 0,
 8470: 0,
 2457: 0,
 1696: 0,
 49606: 0,
 9483: 0,
 854: 0,
 3450: 0,
 9482: 0,
 15888: 0,
 1695: 0,
 15722: 0,
 50185: 0,
 853: 0,
 18194: 0,
 10226: 0,
 852: 0,
 2455: 0,
 3661: 0,
 53207: 0,
 16393: 0,
 56326: 0,
 1876: 0,
 21704: 0,
 15331: 0,
 24771: 0,
 33730: 0,
 36978: 0,
 49488: 0,
 17039: 0,
 17038: 0,
 28837: 0,
 39573: 0,
 21700: 20,
 24482: 2,
 25806: 10,
 23082: 23,
 18148: 21,
 18149: 21,
 18150: 21,
 16430: 21,
 16432: 21,
 16434: 21,
 3860: 14,
 7034: 21,
 14943: 16,
 24942: 21,
 58399: 21,
 43883: 21,
 35364: 21,
 23641: 15,
 48625: 20,
 4776: 14,
 30299: 17,
 30298: 17,
 38237: 15,
 8279: 13,
 56178: 16,
 10425: 18,
 19217: 20,
 13142: 4,
 34512: 2,
 33254: 10,
 7458: 4,
 19258: 18,
 40489: 18,
 62076: 18,
 47504: 18,
 28524: 18,
 9020: 4,
 27171: 5,
 46088: 21,
 10214: 18,
 9769: 16,
 63293: 16,
 46366: 16,
 5172: 16,
 60789: 16,
 30583: 16,
 60366: 19,
 31442: 20,
 31609: 11,
 46822: 11,
 51509: 20,
 8557: 12,
 25935: 14,
 8628: 18,
 24561: 18,
 19828: 18,
 24562: 18,
 55059: 15,
 60105: 18,
 36359: 24,
 53542: 24,
 21134: 24,
 16342: 20,
 19498: 20,
 15473: 20,
 19153: 20,
 29124: 20,
 23318: 20,
 48714: 20,
 48715: 20,
 32495: 20,
 33269: 24,
 63773: 15,
 33270: 24,
 33268: 24,
 33272: 24,
 48040: 20,
 43570: 20,
 40592: 4,
 31302: 24,
 30404: 20,
 40549: 15,
 43573: 15,
 39987: 20,
 4046: 7,
 58760: 4,
 52276: 4,
 57186: 20,
 20184: 15,
 20185: 15,
 20186: 15,
 31282: 15,
 34634: 24,
 52050: 24,
 33484: 24,
 38983: 24,
 38982: 24,
 30524: 24,
 33492: 24,
 20447: 24,
 33489: 24,
 58759: 4,
 58756: 4,
 43004: 4,
 58753: 4,
 22852: 4,
 22198: 3,
 9775: 3,
 8412: 3,
 15861: 3,
 15021: 3,
 15023: 3,
 30377: 3,
 58754: 4,
 50792: 4,
 58755: 4,
 58758: 4,
 58752: 4,
 58761: 4,
 26111: 4,
 58757: 4,
 26112: 4,
 62853: 10,
 14432: 7,
 12915: 12,
 13721: 11,
 13723: 11,
 20071: 11,
 53750: 9,
 21595: 0,
 15791: 0,
 2923: 7,
 33361: 11,
 42410: 9,
 60510: 5,
 29474: 20,
 35613: 20,
 24523: 1,
 54197: 1,
 53357: 5,
 19538: 5,
 55579: 11,
 17869: 11,
 60512: 5,
 13722: 11,
 57327: 20,
 11043: 11,
 25863: 11,
 50198: 11,
 9731: 9,
 28923: 1,
 55022: 11,
 7107: 11,
 53388: 18,
 23481: 11,
 53359: 5,
 20885: 7,
 53387: 18,
 28076: 11,
 37088: 19,
 10917: 13,
 41434: 13,
 15243: 9,
 15242: 9,
 56975: 11,
 56974: 11,
 24834: 18,
 8395: 11,
 9416: 11,
 4848: 6,
 59802: 7,
 7843: 11,
 65374: 11,
 55678: 11,
 1964: 0,
 1870: 0,
 1450: 0,
 1963: 0,
 1967: 0,
 11371: 11,
 10003: 3,
 64652: 11,
 47725: 6,
 58876: 6,
 6588: 11,
 28508: 11,
 7558: 11,
 24388: 3,
 16106: 2,
 21437: 2,
 22446: 2,
 7282: 11,
 9050: 11,
 10871: 11,
 10872: 11,
 15101: 11,
 39421: 11,
 30161: 11,
 9658: 11,
 15097: 11,
 48217: 11,
 46291: 11,
 46292: 11,
 12955: 11,
 12737: 11,
 4738: 11,
 60847: 11,
 9675: 11,
 50348: 11,
 9315: 11,
 9839: 11,
 7060: 11,
 13429: 7,
 24877: 1,
 63507: 5,
 10662: 11,
 6660: 11,
 31773: 11,
 41447: 6,
 11473: 11,
 65742: 18,
 63506: 9,
 38670: 11,
 5733: 13,
 21203: 18,
 10300: 11,
 30501: 11,
 65832: 11,
 23586: 11,
 4820: 11,
 15682: 11,
 5395: 6,
 9342: 6,
 9993: 11,
 22492: 11,
 49048: 5,
 23901: 11,
 59685: 11,
 44474: 11,
 42501: 6,
 22092: 11,
 54291: 11,
 27900: 11,
 7281: 11,
 64544: 11,
 36557: 11,
 42372: 11,
 54228: 18,
 60458: 6,
 20196: 18,
 34115: 11,
 20489: 11,
 43270: 6,
 48414: 6,
 7993: 6,
 48416: 6,
 7051: 6,
 62281: 6,
 9236: 6,
 4842: 6,
 7180: 6,
 6897: 6,
 6896: 6,
 6233: 6,
 5270: 6,
 59790: 11,
 18784: 11,
 31732: 11,
 8439: 11,
 55197: 11,
 9288: 11,
 1962: 8,
 8927: 11,
 56952: 13,
 56951: 13,
 56759: 11,
 50127: 11,
 17787: 11,
 20484: 11,
 7263: 11,
 44012: 11,
 49834: 18,
 11756: 5,
 13583: 11,
 54608: 9,
 30155: 11,
 12111: 11,
 12112: 11,
 50725: 11,
 39152: 11,
 18677: 11,
 5154: 11,
 17789: 11,
 49051: 11,
 9405: 11,
 18154: 11,
 59613: 11,
 15920: 11,
 13993: 11,
 45661: 11,
 18980: 11,
 9725: 9,
 31526: 11,
 8788: 11,
 48218: 11,
 18724: 11,
 3821: 13,
 6455: 13,
 2278: 13,
 41435: 13,
 46218: 13,
 17373: 13,
 42450: 11,
 29169: 11,
 55676: 11,
 5434: 11,
 5044: 11,
 6777: 11,
 15572: 11,
 62892: 11,
 10768: 11,
 49199: 18,
 19106: 11,
 51350: 11,
 13431: 7,
 50803: 11,
 60212: 11,
 60211: 11,
 60209: 11,
 5552: 11,
 9007: 11,
 4937: 11,
 7787: 11,
 5886: 11,
 11021: 11,
 47228: 18,
 45814: 11,
 60732: 11,
 60981: 11,
 29770: 11,
 1351: 11,
 8691: 11,
 39803: 11,
 18414: 11,
 48302: 11,
 25849: 11,
 42412: 11,
 9402: 11,
 3414: 11,
 22308: 11,
 22484: 11,
 53829: 11,
 5163: 11,
 7451: 11,
 9075: 11,
 5162: 11,
 948: 11,
 5139: 11,
 27319: 11,
 6568: 11,
 4065: 11,
 23673: 11,
 9509: 11,
 4261: 11,
 13183: 11,
 8780: 11,
 26464: 11,
 16426: 11,
 8781: 11,
 8782: 11,
 22305: 11,
 11163: 11,
 28954: 11,
 35012: 11,
 12267: 11,
 12266: 11,
 6870: 11,
 9544: 11,
 20067: 11,
 11561: 11,
 4767: 11,
 17644: 11,
 46096: 11,
 65146: 11,
 14031: 11,
 5551: 11,
 18626: 11,
 10028: 11,
 10693: 11,
 48311: 11,
 16533: 11,
 16534: 11,
 60208: 11,
 60207: 11,
 60210: 11,
 31358: 11,
 45061: 11,
 31359: 11,
 10492: 0,
 2917: 0,
 32242: 0,
 10489: 0,
 10491: 0,
 10490: 0,
 4063: 11,
 22495: 11,
 7976: 11,
 10163: 11,
 10162: 11,
 10161: 11,
 10164: 11,
 4294: 11,
 38606: 11,
 4296: 11,
 9659: 11,
 40298: 11,
 53041: 11,
 4250: 0,
 9896: 11,
 18502: 11,
 65879: 11,
 13242: 11,
 22436: 11,
 43170: 11,
 43169: 11,
 65591: 11,
 65590: 11,
 6214: 11,
 8786: 11,
 7126: 11,
 7125: 11,
 5418: 11,
 7129: 11,
 58368: 18,
 12360: 11,
 54429: 11,
 49306: 11,
 10349: 11,
 10350: 11,
 5820: 11,
 5821: 11,
 41186: 11,
 11471: 11,
 44013: 11,
 27956: 18,
 51511: 11,
 53912: 11,
 8305: 11,
 24807: 11,
 6835: 11,
 15054: 11,
 53073: 11,
 6926: 11,
 38980: 11,
 63692: 11,
 13323: 11,
 11425: 11,
 35890: 11,
 46060: 11,
 12019: 11,
 7450: 11,
 12397: 11,
 6076: 11,
 5893: 11,
 57678: 11,
 7801: 11,
 11006: 11,
 5549: 11,
 5550: 11,
 2791: 11,
 65881: 11,
 4100: 11,
 3336: 3,
 4064: 11,
 30864: 11,
 30863: 11,
 45126: 11,
 10004: 3,
 58418: 11,
 30154: 11,
 39434: 11,
 10608: 11,
 11240: 11,
 11241: 11,
 31745: 13,
 49710: 11,
 31066: 11,
 12264: 11,
 18443: 11,
 7259: 6,
 9404: 11,
 13815: 4,
 57845: 11,
 37379: 11,
 18331: 11,
 21101: 11,
 18330: 11,
 26479: 11,
 12190: 11,
 4061: 11,
 14689: 11,
 10877: 11,
 15194: 11,
 650: 2,
 652: 2,
 17497: 2,
 35405: 2,
 98: 2,
 19162: 2,
 23021: 2,
 25484: 2,
 5876: 11,
 51645: 11,
 48377: 11,
 51649: 11,
 15596: 11,
 51644: 11,
 15990: 11,
 11106: 11,
 52277: 11,
 26379: 7,
 30007: 11,
 41658: 11,
 8793: 11,
 30005: 11,
 8794: 11,
 27722: 11,
 27723: 11,
 57752: 7,
 36716: 11,
 18723: 11,
 11711: 11,
 ...}

In [17]:
ids = data.groupby('회원번호').책제목.count().reset_index().query("책제목 > 5").회원번호.unique()
data = data.query('회원번호 in @ids')

In [18]:
data

         회원번호    책제목
11          5     11
12          5     12
13          5     13
14          5     14
15          5     15
...       ...    ...
251144  26883    875
251146  26883  30273
251147  26883  54760
251148  26883  66283
251157  26883  44140

[202667 rows x 2 columns]

In [19]:
data.to_csv('main_data.csv', index=False)

In [20]:
data_cat = transaction[['회원번호', '카테고리']]
data_cat.회원번호 = data_cat.회원번호.map(lambda x: user2id[x])
data_cat.카테고리 = data_cat.카테고리.map(lambda x: cat2id[x])
data_cat = data_cat.drop_duplicates()

C:\Users\KwonYujin\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [21]:
data_tr = pd.read_csv('main_data.csv')

In [22]:
data_tr.shape

(202667, 2)

In [23]:
train_data = data_tr.copy()

In [24]:
items = data.groupby('회원번호')['책제목'].unique()
test_data = items.map(lambda x: x[-1]).reset_index().values
train_data = train_data.append(pd.DataFrame(test_data, columns=['회원번호', '책제목'])).drop_duplicates(keep=False)

In [25]:
train_data.to_csv('main_data_train.csv', index=False)

In [26]:
item_num = transaction.책제목.nunique()
item_list = set(range(item_num))
def noninteracted(x):
    lst = list(item_list - set(x))
    sampled = np.random.choice(lst, 99)
    result = x[-1].reshape(1).tolist() + sampled.tolist()
    return result
res = items.map(noninteracted)

In [27]:
res

회원번호
5        [21, 64439, 48473, 49783, 15392, 61837, 56292,...
17       [60, 63176, 42924, 728, 43299, 18026, 7320, 18...
35       [104, 31523, 5021, 63429, 36615, 56869, 65330,...
38       [113, 34865, 51582, 33621, 41161, 40915, 32655...
41       [135, 52309, 39254, 29264, 48731, 26436, 45836...
                               ...
26876    [6255, 28862, 41067, 40398, 60074, 17509, 1573...
26877    [2281, 35104, 24603, 19362, 35841, 49687, 2853...
26878    [66279, 35514, 49667, 10232, 53546, 10354, 224...
26880    [66282, 31565, 52450, 46041, 31633, 40526, 301...
26883    [44140, 38879, 21269, 37728, 33599, 48072, 365...
Name: 책제목, Length: 11905, dtype: object

In [28]:
np.save('main_data_test.npy', res.reset_index().values, allow_pickle=True)

In [29]:
test_data_raw = np.load('main_data_test.npy', allow_pickle=True)

In [30]:
test_data = []
for data in test_data_raw:
    u = data[0]
    i = data[1]
    for item in i:
        test_data.append([u, int(item)])

In [34]:
print(data_tr.회원번호.nunique(), data_tr.책제목.nunique())

11905 60037